*::-webkit-input-placeholder {
	color: #535353;
}
*:-moz-placeholder {
	color: #535353;
}
*::-moz-placeholder {
	color: #535353;
}
*:-ms-input-placeholder {
	color: #535353;
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Arial";
	overflow-x: hidden;
}
a {
	text-decoration: none !important;
}
button,
input {
	border: none;
	outline: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	color: #071325;
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 18px;
}
img {
	max-width: 100%;
}
.hidden {
	display: none;
}
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #071325;
	opacity: .9;
	z-index: 5;
	display: none;
	cursor: pointer;
}

/*  Шапка  */
header,
footer {
	background: #071325;	
}
header .row-flex,
footer .row-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 95px;
}
header .flex,
footer .flex {
	display: flex;
	flex-grow: 1;
}
header .flex:last-of-type,
footer .flex:last-of-type {
	justify-content: flex-end;
}
header .button_block {
	display: flex;
}
header .phone_block a {
	color: #fff;
	font-size: 18px;
	line-height: 42px;
	margin-right: 15px;
}
header a.subscribe {
	display: block;
	font-size: 17px;
	color: #ed1f24;
	width: 200px;
	height: 42px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #ed1f24;
	transition: all .2s ease-in-out;
}
header a.subscribe:hover {
	background: #ed1f24;
	color: #fff;
}
header .mobile_menu_btn_block {
	padding-right: 10px;
	display: none;
}
header .mobile_menu_btn_block a {
	display: block;
	color: #ed1f24;
	line-height: 40px;
}
header .mobile_menu_btn_block a::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 25px;
	background: url('../img/hamb.png') no-repeat center;
	margin-right: 10px;
}
header .nav_block {
	background: #ed1f24;
}
header .nav_block nav::before,
header .nav_block nav::after {
	display: none;
}
header .nav_block nav {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

header .nav_block nav a {
	font-size: 18px;
	padding: 10px 20px;
	color: #fff;
	transition: all .1s linear;
	white-space: nowrap;
}
header .nav_block nav a:hover {
	background: #071325;
}
header .nav_block nav .menu_header {
	display: none;
}
header .nav_block nav .menu_header .close_menu {
	background: transparent;
	position: absolute;
	right: 15px;
	top: 12px;
}

/*  Контент Продукты  */

aside .aside_menu{
}
aside .aside_menu_ul {
	padding: 10px 0;
	background: #eae9e9;
	max-width: 300px;
}
aside .aside_menu_ul li {

}
aside .aside_menu_ul li a {
	display: block;
	color: #071325;
	font-size: 16px;
	padding: 15px 10px 15px 40px;
	border-left: 5px solid transparent;
	position: relative;
}
aside .aside_menu_ul li a.active,
aside .aside_menu_ul li a:hover {
	background: #f5f4f4;
	border-left: 5px solid #ed1f24;
}
aside .aside_menu_ul li a.active::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 100%;
	background: url('../img/arrow.png') no-repeat center;
	position: absolute;
	right: -12px;
	top: 0px;
}
.h1_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 60px 0;
}
.h1_block h1 {
	color: #071325;
	font-size: 30px;
	line-height: normal;
	margin: 0;
	font-family: "RobotoSlabBold";
}
.h1_block .category_menu_btn_block {
	display: none;
}
.h1_block .category_menu_btn {
	display: block;
	color: #071325;
	font-size: 16px;
}
.h1_block .category_menu_btn::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 25px;
	background: url('../img/hamb2.png') no-repeat center;
	margin-left: 10px;	
	
}
.category_header {
	background: #eae9e9;
	border-left: 5px solid #ed1f24;
	padding-left: 30px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.category_header h2 {
	margin: 0;
	line-height: normal;
	font-size: 26px;
	color: #071325;
	background: #eae9e9;
}
.category_header .icon_block {
	width: 100px;
	height: 100px;
	background-color: #071325;
	display: flex;
}

.category_inner {
	margin-bottom: 60px;
}
.category_form {
	background: #071325;
	margin-bottom: 50px;
	padding: 65px 0 45px;
}
.category_form_inner {
	max-width: 970px;
	margin: 0 auto;
}
.category_form_inner h3 {
	font-size: 24px;
	color: #ed1f24;
	margin: 0;
	line-height: normal;
	margin-bottom: 20px;
	font-family: "RobotoSlabBold";
}
.category_form_inner form .form_group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.category_form_inner form input {
	width: 170px;
	border: 1px solid #cccccc;
	height: 34px;
	line-height: 30px;
	font-size: 16px;
	padding: 0 10px;
	margin-bottom: 15px;
}
.category_form_inner form input.send_form_btn {
	background: #ed1f24;
	color: #fff;
	text-transform: uppercase;
	border-radius: 15px;
	text-align: center;
	border-color: #ed1f24; 
}
.custom_chexbox_block .check {
	display: none;
}
.custom_chexbox_block .custom_input {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #cccccc;
	text-align: center;
	line-height: 15px;
	background: #fff;
	overflow: hidden;
	float: left;
	margin: 5px 8px 5px 0;
}
.custom_chexbox_block .check:checked + .custom_input::before {
	content: "\2714";
	font-size: 14px;
}

.custom_chexbox_block .txt {
	color: #a5a7aa;
	font-size: 16px;
}
/* о компании */
.poligon_section {
	background: url('../img/about/bg.png') no-repeat center 0;
	padding: 85px 0 120px;
}
.poligon_section .flex-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.poligon_section .wrap {
	flex-basis: 270px;
	height: 380px;
	background: #cecece;
	margin: 0 auto;
	margin-bottom: 20px;
}
/* Продукты (внутренняя страница) */
.products_block {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-bottom: 50px;
}
.product_group {
	margin-bottom: 30px;
	display: block;
	text-decoration: none;
}

.product_group_name_block {
	background: #071325;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
}
.product_group_name_block span {
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	line-height: normal;
}
.product_group_name_block .icon {
	height: 58px;
	width: 58px;
	margin: 0 auto;
	background: url('../img/product_icon_sprite.png') no-repeat;
}
/* Иконки продуктов на внешней странице */
.product_group.group_1 .icon{
	background-position: -3px -2px;
}
.product_group.group_2 .icon{
	background-position: -103px -2px;
}
.product_group.group_3 .icon{
	background-position: -203px -2px;
}
.product_group.group_4 .icon{
	background-position: -3px -86px;
}
.product_group.group_5 .icon{
	background-position: -103px -86px;
}
.product_group.group_6 .icon{
	background-position: -203px -86px;
}
.product_group.group_7 .icon{
	background-position: -3px -170px;
}
.product_group.group_8 .icon{
	background-position: -103px -170px;
}
.product_group.group_9 .icon{
	background-position: -203px -170px;
}
.product_group.group_10 .icon{
	background-position: -3px -254px;
}
.product_group.group_11 .icon{
	background-position: -103px -254px;
}
/* Иконки продуктов на внутренней странице */
.category_header .product_icon {
	width: 74px;
	height: 74px;
	margin: auto;
}
.category_header .product_icon.icon_1 {
	background: url('../img/icon1.png') no-repeat center #071325;
}

/*----*/

.product_group_description {
	padding: 15px 30px;
	font-size: 16px;
	background: #e6e6e6;
}
.product_group_description p {
	margin-bottom: 0;
}
.product_group_brands {
	padding: 15px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid #e6e6e6;
}
.product_group_brands .brand {
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
}
.product_group_brands .brand img {
	max-width: 100%;
}

.banner_product_block {
	margin-bottom: 100px;
}
.banner_product_block img {
	width: 100%;
}
.banner_product_block .flex-row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.banner_product_block .flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Услуги */
.services_block {
	margin-bottom: 65px;
}
.services_block .service {
	display: block;
	background: #e7e7e7;
	border-left: 70px solid #071325;
	border-right: 28px solid #071325;
	position: relative;
	padding: 5px 25px 5px 55px;
	margin-bottom: 20px;
}
.services_block .service h2 {
	margin: 20px 0;
	line-height: normal;
	font-size: 26px;
	color: #071325;
}
.services_block .service p {
	font-size: 16px;
}
.services_block .service .icon {
	width: 74px;
	height: 74px;
	position: absolute;
	left: -37px;
	top: 15px;
	background: url('../img/service_icon_sprite.png') no-repeat;
}
/* иконки услуг на внешней странице */
.services_block .service.service_1 .icon {
	background-position: -5px -7px;
}
.services_block .service.service_2 .icon {
	background-position: -5px -99px;
}
.services_block .service.service_3 .icon {
	background-position: -5px -191px;
}
.services_block .service.service_4 .icon {
	background-position: -5px -283px;
}
.services_block .service.service_5 .icon {
	background-position: -5px -375px;
}
.services_block .service.service_6 .icon {
	background-position: -5px -467px;
}
.services_block .service.service_7 .icon {
	background-position: -5px -559px;
}
.services_block .service.service_8 .icon {
	background-position: -5px -651px;
}
.services_block .service.service_9 .icon {
	background-position: -5px -743px;
}
.services_block .service.service_10 .icon {
	background-position: -5px -835px;
}
/* иконки услуг на внутренней странице */
.category_header .service_icon {
	width: 74px;
	height: 74px;
	margin: auto;
	background: url(../img/service_icon_sprite.png) no-repeat;
}
.category_header .service_icon.icon_1 {
	background-position: -5px -7px;
}
.category_header .service_icon.icon_2 {
	background-position: -5px -99px;
}
.category_header .service_icon.icon_3 {
	background-position: -5px -191px;
}
.category_header .service_icon.icon_4 {
	background-position: -5px -283px;
}
.category_header .service_icon.icon_5 {
	background-position: -5px -375px;
}
.category_header .service_icon.icon_6 {
	background-position: -5px -467px;
}
.category_header .service_icon.icon_7 {
	background-position: -5px -559px;
}
.category_header .service_icon.icon_8 {
	background-position: -5px -651px;
}
.category_header .service_icon.icon_9 {
	background-position: -5px -743px;
}
.category_header .service_icon.icon_10 {
	background-position: -5px -835px;
}



/*------*/
/* новости */

.news_block {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 35px;
}
.news_block > div {
	margin-bottom: 30px;
}
.news_block .new {
	background: #f2f2f2;
	height: 100%;
	position: relative;
}
.news_block .new_name_block {
	height: 235px;
}
.news_block .new_name_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news_block .new_description {
	padding: 15px 30px;
	padding-bottom: 0;
	margin-bottom: 55px;
}
.news_block .more {
	padding: 0 30px;
	padding-bottom: 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.news_block .more a {
	font-size: 18px;
	text-decoration: underline !important;
	color: #000;
}
.news_block .date {
	display: block;
	font-size: 18px;
	color: #000;
}
.news_block h3 {
	font-size: 21px;
	line-height: normal;
}
.news_block p {
	font-size: 18px;
	color: #000;
	margin-top: 0;
}
/* новости внутреннияя страница */
.breadcrumbs {
	color: #8a8a8a;
	font-size: 16px;
	margin: 5px 0;
}
.breadcrumbs a {
	text-decoration: underline !important;
	color: #8a8a8a;
}
.new_inner {
	margin-bottom: 60px;
}
.new_header_container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.new_header_container .img_block {
	width: 33.33%;
}
.new_header_container .img_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.new_header_container .title_block {
	background: #eaeaea;
	flex-grow: 1;
	width: 66.66%;
	padding: 15px 30px;
	position: relative;
	display: flex;
	align-items: center;
}
.new_header_container .title_block .date {
	position: absolute;
	top: 15px;
	left: 30px;
}
.new_header_container .title_block h1 {
	line-height: normal;
	font-size: 30px;
	color: #000;
	margin: 30px 0;
}
.new_text p{
	margin: 0;
	color: #000;
	font-size: 18px;
}





/* Футер */
footer .copy_block {
	text-align: right;
	font-size: 16px;
	color: #fff;
	font-family: "RobotoRegular";
}
/* Модальное окно */
.modal {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 66.66%;
	height: max-content;
	background: url('../img/modal_bg_left.png') no-repeat 0% 0%, url('../img/modal_bg_right.png') no-repeat 100% 0%;
	background-color: #e5e5e5;
	background-size: contain;
	padding: 50px 15px;
	display: none;
}
.modal .inner {
	max-width: 430px;
	margin: 0 auto;
}
.modal .inner .modal_title {
	font-size: 24px;
	color: #ed1f24;
	font-family: "RobotoSlabBold";
	line-height: normal;
	margin-bottom: 20px;
	text-align: center;
}
.modal input,
.modal textarea {
	width: 100%;
	padding: 0 10px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	line-height: 30px;
}
.modal input {
	height: 32px;
}
.modal textarea {
	margin-bottom: 30px;
	width: 100%;
	height: 100px;
	resize: none;
	outline: none;
	line-height: normal;
	padding: 5px 10px;
}
.modal .modal_send {
	display: block;
	width: 170px;
	padding: 0 10px;
	margin: 0 auto;
	background: #ed1f24;
	color: #fff;
	text-transform: uppercase;
	border-radius: 15px;
	text-align: center;
	border-color: #ed1f24;
}
.modal .close_modal {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	height: 25px;
	background: #fff;
	color: #071325;
	padding: 0;
	transition: all .2s ease-in-out;
}
.modal .close_modal:hover {
	color: #fff;
	background: #071325;
}