/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1910px) {
	.section_1 .left_bg,
	.section_1 .right_bg,
	.section_6 .left_bg,
	.section_6 .right_bg  {
		display: none;
	}
}
@media only screen and (max-width : 1200px) {
	div#arrow {
		display: none;
	}
	.category_form {
		padding: 20px 40px;
	}
	.category_form_inner form input {
		width: 48%;
		margin-bottom: 15px;
	}
	.category_form_inner form input.send_form_btn {
		width: 170px;
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.category_form_inner h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	footer .flex {
		width: 100%;
		justify-content: space-between;
		padding: 5px 15px;
	}
	footer .flex:last-of-type {
		width: 100%;
		justify-content: flex-end;
	}
	footer .row-flex {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.section_1 .item {
		min-height: auto;
		padding-top: 30px;
		padding-bottom: 400px;
	}
	.section_1 .item h1 {
		font-size: 30px;
	}
	.section_1_form .category_form h3,
	.section_1 .item .title {
		font-size: 18px;
	}
	.section_1_form {
		bottom: 25px;
	}
	.section_1 .prev,
	.section_1 .next {
		display: none;
	}
	.polygon_block {
		margin-left: auto;
		margin-right: auto;
	}
	.section_2 h2,
	.section_3 h2,
	.section_4 h2,
	.section_5 h2,
	.section_6 h2,
	.section_7 h2 {
		text-align: center;
	}
	.section_2, .section_3, .section_4 {
		background-image: none;
		padding: 50px 0;
	}
	.section_6 .advantages_block {
		justify-content: space-around;
	}
	.advantage {
		text-align: center;
		margin-bottom: 20px;
	}
	.advantage .line {
		margin-bottom: 30px;
	}
	.section_6 {
		padding: 10px 0;
	}
	.section_6 h2 {
		margin-bottom: 20px;
	}
	.section_7 {
		padding: 40px 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header .row-flex {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	header .flex {
		justify-content: space-between !important;
		width: 100%;
		padding: 5px 15px;
	}
	header .mobile_menu_btn_block,
	.h1_block .category_menu_btn_block {
		display: block;
	}
	
	aside .aside_menu_ul li a.active::after,
	.aside_menu_ul,
	.product_group_description,
	.product_group_brands,
	.banner_product_block {
		display: none;
	}
	header .nav_block {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 0px;
		transition: all .3s linear;
		z-index: 10;
	}
	header .nav_block.open {
		width: 300px;
	}
	header .nav_block nav {
		display: block;
		width: 100%;
		padding: 0;
	}
	header .nav_block nav a {
		display: block;
	}
	header .nav_block nav .menu_header {
		display: block;
		font-size: 18px;
		padding: 10px 20px;
		color: #fff;
		background: #071325;
		position: relative;
	}
	aside .aside_menu_ul {
		margin-bottom: 50px;
		padding: 0;
		max-width: 100%;
	}
	.services_block .service {
		margin-bottom: 10px;
		min-height: 90px;
	}
	.poligon_section {
		background: none;
		padding: 50px 0;
	}
	.services_block .service p {
		display: none;
	}
	.services_block .service .icon {
		top: 50%;
		margin-top: -37px;
	}
	.new_header_container .title_block {
		display: block;
	}
	.new_header_container .title_block .date {
		position: static;
	}
	.new_header_container .title_block h1 {
		font-size: 24px;
		margin: 20px 0;
	}
	.modal {
		width: 84%;
		padding: 30px 15px;
	}
	.modal .inner {
		max-width: 307px;
	}
	.modal .inner .modal_title {
		font-size: 18px;
	}
	.section_1_form .category_form {
		padding: 20px;
	}
	.section_1_form .category_form_inner form input.send_form_btn {
		margin-bottom: 0;
	}
	.section_1 .item {
		padding-bottom: 300px;
	}
	.section_1 .item h1 {
		margin-bottom: 10px;
	}
	.section_5 {
		padding: 60px 15px;
	}
	.section_5 h2,
	.section_5 p {
		margin-bottom: 10px;
	}
	.section_5 .img_block {
		padding: 0 15px;
		background: none;
	}
	.section_5 h2 {
		text-align: center;
	}
	.section_6 .advantages_block .advantage {
		flex-basis: 170px;
	}
	.advantage .icon {
		height: 170px;
	}
	.advantage:nth-of-type(1) .icon {
		background-position: 0px 0px;
	}
	.advantage:nth-of-type(2) .icon {
		background-position: -200px -1px;
	}
	.advantage:nth-of-type(3) .icon {
		background-position: -400px 0px;
	}
	.advantage:nth-of-type(4) .icon {
		background-position: -600px -1px;
	}
	.section_8 {
		padding-bottom: 0;
		padding-top: 50px;
	}
	.section_8 > .container {
		width: 100%;
		padding: 0;
	}
	.section_8 .row_flex > div{
		
	}
	.section_8 .map_block {
		padding: 0;
		width: 100%;
	}
	.section_8 .contact_title {
		margin-bottom: 5px;
	}
	.section_8 .contact_inner {
		margin-bottom: 25px;
	}
	.section_8 div#map,
	.contact_map_block div#map {
		height: 365px;
	}
	.contact_h1 {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.contacts .contact_inner {
		margin-bottom: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.news_block .new {
		max-width: 370px;
		margin: 0 auto;
	}
	.new_header_container {
		justify-content: center;
		padding: 0;
		margin-bottom: 20px;
	}
	.new_header_container .title_block {
		order: -1;
		width: 100%;
	}
	.new_header_container .img_block {
		width: auto;
		max-width: 370px;
	}
	.breadcrumbs {
		display: none;
	}
	.breadcrumbs + .h1_block {
		margin: 20px 0 45px;
	}
	.polygon_block img,
	.polygon_block .blur,
	.polygon_block .shadow {
		display: none;
	}
	.section_2 .polygon_block .title,
	.section_3 .polygon_block .title,
	.section_4 .polygon_block .title {
		position: static;
		margin-bottom: 20px;
	}
	.polygon_block .polygon_item_group,
	.section_3 .polygon_block .polygon_item_group,
	.section_4 .polygon_block .polygon_item_group {
		display: flex;
		flex-wrap: wrap;
	}
	.polygon_block .polygon_item_group span,
	.section_3 .polygon_block .polygon_item_group span,
	.section_4 .polygon_block .polygon_item_group span {
		order: 0;
		padding: 0 10px;
		flex-shrink: 999;
	}
	.polygon_block .polygon_item_group > div,
	.section_3 .polygon_block .polygon_item_group > div,
	.section_4 .polygon_block .polygon_item_group > div {
		position: static;
		width: 50%;
		flex-direction: row;
		text-align: left;
	}
	.polygon_block .polygon_item_group > div.empty {
		display: none;
	}
	.section_2 h2,
	.section_3 h2,
	.section_4 h2 {
		margin-top: 25px;
	}
	.section_2,
	.section_3,
	.section_4 {
		padding: 35px 0;
	}
	.polygon_block {
		margin: 0 auto;
	}
	.polygon_block .icon.active {
		box-shadow: none;
	}

}
@media only screen and (max-width : 550px) {
	header .phone_block {
		display: none;
	}
	.products_block > div {
		width: 100%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.h1_block .category_menu_btn {
		font-size: 0;
	}
	header a.subscribe {
		width: 180px;
	}
	.services_block .service {
		border-left-width: 40px;
		border-right-width: 10px;
		padding-left: 45px;
		padding-right: 10px;
	}
	.services_block .service h2 {
		font-size: 18px;
	}
	.new_header_container .title_block h1 {
		font-size: 18px;
	}
	.polygon_block .polygon_item_group > div,
	.section_3 .polygon_block .polygon_item_group > div,
	.section_4 .polygon_block .polygon_item_group > div {
		width: 100%;
	}
}
@media only screen and (max-width : 400px) {
	.category_form_inner form input {
		width: 100%;
	}
	.section_1 .item {
		padding-bottom: 430px;
	}
}

/* Стили для прокрутки секций */

@media only screen and (min-width: 1650px) {
	.section_1 .item {
		min-height: 796px;
	}
}

@media only screen and (min-width : 1200px) {
	.container {
		width: 1200px;
	}	

	.section_1 .item {
		padding: 0;
		padding-top: 80px;
		padding-bottom: 360px;
	}
	.section_1_form {
		bottom: 50px;
	}
	header {
		position: fixed;
		width: 100%;
		z-index: 999;
	}
	.scroll section {		
		padding-top: 144px;
		overflow: hidden;
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 100;
		top: 100%;
	}
	
	.scroll .section_1 {
		position: relative;
		padding-top: 140px;
	}
	.scroll .section_6 {
		padding-top: 160px;
	}
	.section_2, .section_3, .section_4 {
		padding: 0px;
		padding-top: 10px;
	}
	.section_5,
	.section_6,
	.section_7,
	.section_8 {
		background-color: #fff; 
	}
	.section_5 .img_block {
		padding: 100px 0;
	}
	.scroll .section_7 {
		padding-top: 160px;
	}
	.section_4 .polygon_block {
		margin-top: 50px;
	}
	.section_8 .row_flex {
		padding: 30px 0;
	}
	body#main {
		overflow: hidden;
	}
	body#main footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin: 0;
	}
	.scroll_controls {
		display: flex;
	}
	.polygon_block {
		transform: scale(.8);
	}
	.section_1 .next {
		right: 60px;
	}
	.section_1 .prev {
		left: 60px;
	}
}
@media only screen and (min-width: 1200px) and (max-width : 1450px) {
	.section_1 .item h1 {
		margin-bottom: 30px;
	}
	.scroll .section_2,
	.scroll .section_3,
	.scroll .section_4,
	.scroll .section_5 {
		padding-top: 95px;
	}
	.scroll .section_6 {
		padding-top: 144px;
	}
	.polygon_block {
		transform: scale(.7);
	}
	.advantage span {
		font-size: 15px;
	}
	.section_7 h2 {
		margin-bottom: 25px;
	}
	.section_7 .brands img {
		margin: 0;
		margin-bottom: 15px;
	}
	.section_8 .contact_title {
		margin-bottom: 10px;
	}
	.section_8 div#map {
		height: 300px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
	.section_1 .item.item > div {
		padding: 0 85px;
	}
}
